.firstContainer{
    padding: 60px 50px;
    margin-left: 6%;
}

.firstCard{
    position: relative;
    width: 100%;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.firstCard .card{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.005);
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    cursor: default;
}

.firstCard .card .number{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: lightskyblue;
}

.firstCard .card .cardName{
    color: gray;
    font-size: 1.1em;

}

.firstCard .card .iconCard{
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: gray;
}

.secondCard {
    position: relative;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.secondCard .recentOrders{
    position: relative;
    display: grid;
    grid-template-rows: 10% 90%;
    min-height: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
    color: blue;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: lightslategray;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover{
    color: white;
}

.secondCard table{
    width: 100%;
    height: 10px;
    border-collapse: collapse;
    margin-top: 10px;
}

.secondCard table thead td{
    font-weight: 600;
}

.secondCard .recentOrders table tr{
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.secondCard .recentOrders table tr:last-child{
    border-bottom: none;
}

.secondCard .recentOrders table tbody tr td{
    height: 10px;
}

.secondCard .recentOrders table tbody tr:hover{
    background: rgba(0, 0, 0, 0.05);
}

.secondCard .recentOrders table tr td{
    padding: 1px;
}

.secondCard .recentOrders table tr td:last-child{
    text-align: end;
}

.secondCard .recentOrders table tr td:nth-child(2){
    text-align: end;
}

.secondCard .recentOrders table tr td:nth-child(3){
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: chartreuse;
    color: black;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}